* {
    margin: 0;
    padding: 0;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
}

h1 {
    font-size: 20px;
    color: black;
}

p {
    font-size: 15px;
    color: black;

}

.nav_1 {
    margin: 0 auto 0 auto;
    width: 1600px;
    height: 80px;
}

.nav_1 ul {
    list-style-type: none;
    overflow: hidden;
    text-align: center;

}


.logo {
    float: left;
    width: 250px;
    display: flex;
    height: 80px;
    align-items: center;
}

.nav_l {
    float: left;
    color: #666;
    width: 100px;
    display: inline-block;
}

.nav_l a {
    text-decoration: none;
    line-height: 80px;
}

.nav_r{
    float: right;
    color: #666666;
    margin: 5px;
    display: inline-block;
}

.nav_1 li a:hover:not(.active) {
    background-color: #ddd;
}

.nav_1 ul li a {
    text-decoration: none;

}

.center {
    margin: 0 auto 0 auto;
    width: 1600px;
    height: 2000px;
}


.c-heading1 {
    font-size: 20px;
    line-height: 28px;
    position: absolute;
    width: 600px;
    top: 250px;
    left: 250px;
}

.c-paragraph1 {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    padding: 5px;
    position: absolute;
    top: 300px;
    text-align: center;
    left: 250px;
}


.c-glyph1 {
    background: black;
    display: inline-block;
    padding: 10px;
    text-decoration: underline;
    position: absolute;
    top: 400px;
    left: 400px;
}

.c-glyph1:hover {
    transform: translate(20px,0);
}

.c-radius-l {
    font-size: 24px;
    line-height: 28px;
    position: absolute;
    top: 340px;
    left: 180px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #fff
}

.c-radius-r {
    font-size: 24px;
    line-height: 28px;
    position: absolute;
    top: 340px;
    right: 180px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #fff
}

.nav_2 {
    margin: 0 auto 0 auto;
    padding: 20px;
    width: 1600px;
    height: 80px;
}

.nav_2 ul {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
}

.nav_2 ul li {
    float: left;
    width: 320px;
}

.nav_2 ul li a {
    text-decoration: none;
}

.nav_3 {
    margin: 0 auto 10px auto;
    padding: 20px;
    width: 1600px;
    height: 250px;
}

.nav_3 ul {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
}

.nav_3 ul li {
    float: left;
    width: 400px;
}

.nav_3 ul li a {
    text-decoration: none;
}

.nav_4 {
    padding: 20px;
    width: 1600px;
    height: 250px;
}

.nav_4 ul {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
}

.nav_4 ul li {
    float: left;
    width: 400px;
}

.nav_4 ul li a {
    text-decoration: none;
}

.c-heading2 {
    font-size: 24px;
    line-height: 28px;
    position: absolute;
    width: 500px;
    top: 1150px;
    left: 750px;
}

.c-paragraph2 {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    padding: 5px;
    position: absolute;
    top: 1200px;
    text-align: center;
    left: 750px;
}


.c-glyph2 {
    background: black;
    display: inline-block;
    padding: 10px;
    text-decoration: underline;
    position: absolute;
    top: 1300px;
    left: 900px;
}


.footer {
    margin: 10px auto 0 auto;
    height: 180px;
    background-color: #f6f6f6;
}

.b_nav {
    margin-left: 250px;
    overflow: hidden;
}

.b_nav dl {
    width: 320px;
    height: 165px;
    overflow: hidden;
    float: left;
    display: inline;
}

.b_nav dl dt {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    color: #3e3e3e;
    font-size: 16px;
    margin-bottom: 10px;
}

.b_nav dl dt a {

    color: #3e3e3e;
}

.b_nav dl dt a:hover {
    color: #3e3e3e;
    text-decoration: underline;
}

.b_nav dl dd {

    font-size: 12px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    color: #888888;
}

.b_nav dl dd a {
    text-decoration: none;
    color: #888888;
}

.b_nav dl dd a:hover {
    color: #ff4e00;
}


.nav_foot {
    position: relative;
    height:30px;
    width: 100%;
    margin-top: -30px;
    clear:both;
    background-color: #f6f6f6;
}

.nav_foot ul {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
}


.nav_foot a {
    font-size: 12px;
    text-decoration: none;
    color: black;
}